CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
build/*/Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
release
ext
__pycache__
*.pyc
.DS_Store
dockcross
dockbuild
